
@{
    ViewData["Title"] = "Links";
}

<h2>Links</h2>
<div>
    <a  asp-controller="Home" asp-action="Index">
        <img src="~/images/banner1.svg" alt="banner" style="width:400px;height:350px">
    </a>
</div>
<br />
<br />
<br />
<div>
    <a  asp-controller="Home" asp-action="Index">
        <img src="~/images/banner2.svg" alt="banner" style="width:400px;height:350px">
    </a>
</div>
<br />
<br />
<br />
<div>
    <a  asp-controller="Home" asp-action="Index">
        <img src="~/images/banner3.svg" alt="banner" style="width:400px;height:350px">
    </a>
</div>
<br />
<br />
<br />